parameters:
    level: 7
    paths:
        - src
    excludePaths:
        - tests
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: false
